body {
    background-color:rgb(22, 8, 54);
    color:white;
}
.cont1 {
    position:absolute;
    position:fixed;
    margin:0px;
    padding:0px;
    left:0px;
    background-color:rgb(22, 8, 54);
    top:0%;
    box-shadow: 0 0 5px 5px rgba(8, 4, 17, 0.178);
    height:63px;
    width:100%;
    z-index:3;
}
.h1 {
    position:absolute;
    top:100px;
    left:100px;
    font-size:95px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.p1 {
    position:absolute;
    top: 275px;
    left:100px;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
}
button {
    position:absolute;
    width:200px;
    height:50px;
    border:none;
    border-radius:15px;
    background-color:rgb(133, 47, 214);
    color:white;
    font-size:18px;
    cursor:pointer;
    transition: background-color 0.3s;
    box-shadow:0 0 3px 3px rgba(15, 5, 37, 0.616);
}
button:hover {
    background-color:rgb(72, 9, 114);
}
.b1 {
    top:370px;
    left: 100px;
}
.doordash {
    position:absolute;
    top:565px;
    left:100px;
    font-size:65px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.marketplaces {
    position:absolute;
    top:650px;
    left:100px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.dd {
    position:absolute;
    top:630px;
    left:100px;
    width:250px;
    height:650px;
}
.ddprob {
    position:absolute;
    top:720px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.ddsoln {
    position:absolute;
    top:720px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.ddresults {
    position:absolute;
    top:720px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.ddprobp {
    position:absolute;
    top:785px;
    left:380px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.ddsolnp {
    position:absolute;
    position:absolute;
    top:785px;
    left:670px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.ddresultsp {
    position:absolute;
    top:785px;
    left:965px;
    font-size:20px;
    width:255px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.ddp1 {
    position:absolute;
    top:1045px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.ddp2 {
    position:absolute;
    top:1045px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.ddp3 {
    position:absolute;
    top:1045px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.big4 {
    position:absolute;
    top:1230px;
    left:100px;
    font-size:65px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.ecommerce {
    position:absolute;
    top:1315px;
    left:100px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.big4retailer {
    position:absolute;
    top:1300px;
    left:100px;
    width:250px;
    height:650px;
}
.big4prob {
    position:absolute;
    top:1380px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.big4soln {
    position:absolute;
    top:1380px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.big4results {
    position:absolute;
    top:1380px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.big4probp {
    position:absolute;
    top:1445px;
    left:380px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.big4solnp {
    position:absolute;
    position:absolute;
    top:1445px;
    left:670px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.big4resultsp {
    position:absolute;
    top:1445px;
    left:965px;
    font-size:20px;
    width:275px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.big4p1 {
    position:absolute;
    top:1705px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.big4p2 {
    position:absolute;
    top:1705px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.big4p3 {
    position:absolute;
    top:1705px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.airs {
    position:absolute;
    top:1875px;
    left:100px;
    font-size:65px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.logistics {
    position:absolute;
    top:1960px;
    left:100px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.airsretailer {
    position:absolute;
    top:2065px;
    left:100px;
    width:250px;
    height:400px;
}
.airsprob {
    position:absolute;
    top:2025px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.airssoln {
    position:absolute;
    top:2025px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.airsresults {
    position:absolute;
    top:2025px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.airsprobp {
    position:absolute;
    top:2090px;
    left:380px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.airssolnp {
    position:absolute;
    position:absolute;
    top:2090px;
    left:670px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.airsresultsp {
    position:absolute;
    top:2090px;
    left:965px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.airsp1 {
    position:absolute;
    top:2350px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.airsp2 {
    position:absolute;
    top:2350px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.airsp3 {
    position:absolute;
    top:2350px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.bungalow {
    position:absolute;
    top:2525px;
    left:100px;
    font-size:65px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.realestate {
    position:absolute;
    top:2610px;
    left:100px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.bungaretailer {
    position:absolute;
    top:2710px;
    left:100px;
    width:250px;
    height:400px;
}
.bungaprob {
    position:absolute;
    top:2665px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.bungasoln {
    position:absolute;
    top:2665px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.bungaresults {
    position:absolute;
    top:2665px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.bungaprobp {
    position:absolute;
    top:2730px;
    left:380px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.bungasolnp {
    position:absolute;
    position:absolute;
    top:2730px;
    left:670px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.bungaresultsp {
    position:absolute;
    top:2730px;
    left:965px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.bungap1 {
    position:absolute;
    top:2990px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.bungap2 {
    position:absolute;
    top:2990px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.bungap3 {
    position:absolute;
    top:2990px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.getro {
    position:absolute;
    top:3170px;
    left:100px;
    font-size:65px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.platform {
    position:absolute;
    top:3255px;
    left:100px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.getroretailer {
    position:absolute;
    top:3355px;
    left:100px;
    width:250px;
    height:400px;
}
.getroprob {
    position:absolute;
    top:3310px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.getrosoln {
    position:absolute;
    top:3310px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.getroresults {
    position:absolute;
    top:3310px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.getroprobp {
    position:absolute;
    top:3375px;
    left:380px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.getrosolnp {
    position:absolute;
    position:absolute;
    top:3375px;
    left:670px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.getroresultsp {
    position:absolute;
    top:3375px;
    left:965px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.getrop1 {
    position:absolute;
    top:3635px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.getrop2 {
    position:absolute;
    top:3635px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.getrop3 {
    position:absolute;
    top:3635px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.headway {
    position:absolute;
    top:3795px;
    left:100px;
    font-size:65px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.healthcare {
    position:absolute;
    top:3880px;
    left:100px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.headretailer {
    position:absolute;
    top:3980px;
    left:100px;
    width:250px;
    height:400px;
}
.headprob {
    position:absolute;
    top:3935px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.headsoln {
    position:absolute;
    top:3935px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.headresults {
    position:absolute;
    top:3935px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.headprobp {
    position:absolute;
    top:4000px;
    left:380px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.headsolnp {
    position:absolute;
    position:absolute;
    top:4000px;
    left:670px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.headresultsp {
    position:absolute;
    top:4000px;
    left:965px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.headp1 {
    position:absolute;
    top:4260px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.headp2 {
    position:absolute;
    top:4260px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.headp3 {
    position:absolute;
    top:4260px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.klarna {
    position:absolute;
    top:4440px;
    left:100px;
    font-size:65px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.fintech {
    position:absolute;
    top:4545px;
    left:100px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.klaretailer {
    position:absolute;
    top:4645px;
    left:100px;
    width:250px;
    height:400px;
}
.klaprob {
    position:absolute;
    top:4600px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.klasoln {
    position:absolute;
    top:4600px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.klaresults {
    position:absolute;
    top:4600px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.klaprobp {
    position:absolute;
    top:4665px;
    left:380px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.klasolnp {
    position:absolute;
    position:absolute;
    top:4665px;
    left:670px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.klaresultsp {
    position:absolute;
    top:4665px;
    left:965px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.klap1 {
    position:absolute;
    top:4925px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.klap2 {
    position:absolute;
    top:4925px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.klap3 {
    position:absolute;
    top:4925px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.nasdaq {
    position:absolute;
    top:5085px;
    left:100px;
    font-size:65px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.financialServices {
    position:absolute;
    top:5170px;
    left:100px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.nasretailer {
    position:absolute;
    top:5270px;
    left:100px;
    width:250px;
    height:400px;
}
.nasprob {
    position:absolute;
    top:5225px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.nassoln {
    position:absolute;
    top:5225px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.nasresults {
    position:absolute;
    top:5225px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.nasprobp {
    position:absolute;
    top:5290px;
    left:380px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.nassolnp {
    position:absolute;
    position:absolute;
    top:5290px;
    left:670px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.nasresultsp {
    position:absolute;
    top:5290px;
    left:965px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.nasp1 {
    position:absolute;
    top:5550px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.nasp2 {
    position:absolute;
    top:5550px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.nasp3 {
    position:absolute;
    top:5550px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.rappi {
    position:absolute;
    top:5710px;
    left:100px;
    font-size:65px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.ecommerce1 {
    position:absolute;
    top:5795px;
    left:100px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.rapretailer {
    position:absolute;
    top:5895px;
    left:100px;
    width:250px;
    height:400px;
}
.rapprob {
    position:absolute;
    top:5850px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.rapsoln {
    position:absolute;
    top:5850px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.rapresults {
    position:absolute;
    top:5850px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.rapprobp {
    position:absolute;
    top:5915px;
    left:380px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.rapsolnp {
    position:absolute;
    position:absolute;
    top:5915px;
    left:670px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.rapresultsp {
    position:absolute;
    top:5915px;
    left:965px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.rapp1 {
    position:absolute;
    top:6200px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.rapp2 {
    position:absolute;
    top:6200px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.rapp3 {
    position:absolute;
    top:6175px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.rhino {
    position:absolute;
    top:6335px;
    left:100px;
    font-size:65px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.realEstate1 {
    position:absolute;
    top:6420px;
    left:100px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.rhiretailer {
    position:absolute;
    top:6520px;
    left:100px;
    width:250px;
    height:400px;
}
.rhiprob {
    position:absolute;
    top:6505px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.rhisoln {
    position:absolute;
    top:6505px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.rhiresults {
    position:absolute;
    top:6505px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.rhiprobp {
    position:absolute;
    top:6570px;
    left:380px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.rhisolnp {
    position:absolute;
    position:absolute;
    top:6570px;
    left:670px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.rhiresultsp {
    position:absolute;
    top:6570px;
    left:965px;
    font-size:20px;
    width:265px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.rhip1 {
    position:absolute;
    top:6855px;
    left:380px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.rhip2 {
    position:absolute;
    top:6855px;
    left:670px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.rhip3 {
    position:absolute;
    top:6855px;
    left:965px;
    font-size:35px;
    font-weight:lighter;
    width:235px;
    font-family:'Times New Roman', Times, serif;
}
.workToDo {
    position:absolute;
    top:7100px;
    left:100px;
    font-size:65px;
    font-weight:lighter;
    font-family:'Times New Roman', Times, serif;
}
.workToDop {
    position:absolute;
    top: 7225px;
    left:100px;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
}
.b2 {
    top:7290px;
    left: 100px;
}
.img2 {
    position:absolute;
    top:7470px;
    left:100px;
    width:150px;
    height:60px;
}
.aboutbottom {
    position:absolute;
    top: 7450px;
    left:450px;
    font-size:15px;
    font-weight:650;
    font-family:Arial, Helvetica, sans-serif;
}
.aiservicesbottom {
    position:absolute;
    top: 7450px;
    left:650px;
    font-size:15px;
    font-weight:650;
    font-family:Arial, Helvetica, sans-serif;
}
.industriesbottom {
    position:absolute;
    top: 7450px;
    left:850px;
    font-size:15px;
    font-weight:650;
    font-family:Arial, Helvetica, sans-serif;
}
.aboutlist {
    position:absolute;
    top:7475px;
    left:410px;
    list-style-type: none;
    font-weight:550;
}
.aboutlist a {
    text-decoration: none;
    color:white;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
}
.aboutlist a:hover {
    color:rgb(162, 105, 216);
}
.ailist {
    position:absolute;
    top:7475px;
    left:610px;
    list-style-type: none;
    font-weight:550;
}
.ailist a {
    text-decoration: none;
    color:white;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
}
.ailist a:hover {
    color:rgb(162, 105, 216);
}
.industrieslist {
    position:absolute;
    top:7475px;
    left:810px;
    list-style-type: none;
    font-weight:550;
}
.industrieslist a {
    text-decoration: none;
    color:white;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
}
.industrieslist a:hover {
    color:rgb(162, 105, 216);
}
.b3 {
    top:7475px;
    right:150px;
    height:65px;
}
.allRightsReserved {
    position:absolute;
    top: 7675px;
    left:100px;
    font-size:15px;
    font-weight:750;
    font-family:Arial, Helvetica, sans-serif;
}
.privacyPolicy {
    position:absolute;
    top: 7692px;
    left:465px;
    font-size:12px;
    font-weight:750;
    color:white;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}
.privacyPolicy:hover {
    color:rgb(162, 105, 216);
}
.termsOfService {
    position:absolute;
    top: 7692px;
    left:570px;
    font-size:12px;
    color:white;
    font-weight:750;
    text-decoration: none;;
    font-family:Arial, Helvetica, sans-serif;
}
.termsOfService:hover {
    color:rgb(162, 105, 216);
}
.img4 {
    position:absolute;
    top:7692px;
    right:100px;
    width:75px;
    height:75px;
    bottom:35px;
}
.img5 {
    position:absolute;
    top:7692px;
    right:190px;
    width:75px;
    height:75px;
    bottom:35px;
}
.img6 {
    position:absolute;
    top:7692px;
    right:280px;
    width:75px;
    height:75px;
    bottom:35px;
}