html, body {
    background-color:rgb(22, 8, 54);
    color:white;
    height:100%;
    width:100%;
    min-height:75%;
    min-width:75%;
    margin: 0;
}
.cont1 {
    position:absolute;
    position:fixed;
    margin:0px;
    padding:0px;
    left:0px;
    background-color:rgb(22, 8, 54);
    top:0%;
    box-shadow: 0 0 5px 5px rgba(8, 4, 17, 0.178);
    height:67px;
    width:100%;
    z-index:3;
}
h1 {
  position:fixed;
  top:100px;
  left:100px;
  width:450px;
  font-size:95px;
  font-weight:lighter;
  font-family:'Times New Roman', Times, serif;
}
.headerp {
  position:fixed;
  top: 400px;
  left:100px;
  font-size:20px;
  font-family:Arial, Helvetica, sans-serif;
  width:450px;
}
.input-container1 {
    position: absolute;
    top:35px;
    left:60px;
    width: 340px;
    height:35px;
    background-color: rgb(22, 8, 54);
    padding: 20px;
    border-radius:15px;
    color:rgb(209, 201, 228);
    font-size:16;
    outline: none;
    border:2px solid rgb(103, 72, 173);
  }
input {
  position:absolute;
  width:325px;
  height:40px;
  left:25px;
  background-color: rgb(22, 8, 54);
  color:rgb(209, 201, 228);
  font-family:Arial, Helvetica, sans-serif;
  font-size:18px;
  top:18px;
  outline:none;
  border:none;
}
  label {
    position:absolute;
    top:48px;
    left: 35px;
    font-size:25px;
    transform: translateY(-99%);
    font-family:Arial, Helvetica, sans-serif;
    color: #999;
    pointer-events: none;
    transition: top 0.3s, font-size 0.3s;
  }

  input:focus + label,
  input:not(:placeholder-shown) + label {
    left:35px;
    top:19px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #999;
  }
.cont2 {
  position:absolute;
  height:138%;
  width:500px;
  border-left:1px solid #6748ad;
  border-right:1px solid #6748ad;
  right:50px;
  top:67px;
}
.input-container2 {
  position: absolute;
  top:150px;
  left:60px;
  width: 340px;
  height:35px;
  background-color: rgb(22, 8, 54);
  padding: 20px;
  border-radius:15px;
  color:rgb(209, 201, 228);
  font-size:16;
  outline: none;
  border:2px solid rgb(103, 72, 173);
}
.input-container3 {
  position: absolute;
  top:265px;
  left:60px;
  width: 340px;
  height:35px;
  background-color: rgb(22, 8, 54);
  padding: 20px;
  border-radius:15px;
  color:rgb(209, 201, 228);
  font-size:16;
  outline: none;
  border:2px solid rgb(103, 72, 173);
}
.input-container4 {
  position: absolute;
  top:380px;
  left:60px;
  width: 340px;
  height:35px;
  background-color: rgb(22, 8, 54);
  padding: 20px;
  border-radius:15px;
  color:rgb(209, 201, 228);
  font-size:16;
  outline: none;
  border:2px solid rgb(103, 72, 173);
}
.input-container5 {
  position: absolute;
  top:495px;
  left:60px;
  width: 340px;
  height:35px;
  background-color: rgb(22, 8, 54);
  padding: 20px;
  border-radius:15px;
  color:rgb(209, 201, 228);
  font-size:16;
  outline: none;
  border:2px solid rgb(103, 72, 173);
}
.p1 {
  position:absolute;
  left:60px;
  font-size:16px;
  top:585px;
  color:#999;
  font-family:Arial, Helvetica, sans-serif;
}
textarea {
  position:absolute;
  top:630px;
  width:380px;
  height:120px;
  background-color:rgb(15, 5, 39);
  left:60px;
  right:60px;
  border:1px solid rgb(103, 72, 173);
  border-radius:10px;
  outline:none;
  text-align: left;
  color:rgb(209, 201, 228);
}
.submit {
  position:absolute;
  top:820px;
  right:50px;
  width:125px;
  height:50px;
  background-color: rgb(103, 72, 173);
  color:rgb(22, 8, 54);
  border:none;
  border-radius:15px;
  font-size:18px;
}
.submit:hover {
  background-color: rgb(28, 13, 65);
  color:rgb(103, 72, 173);
  cursor:pointer;
  transition: background-color 0.3s;
  box-shadow:0 0 3px 3px rgba(15, 5, 37, 0.548);
}